.modal-reservation {
	position: absolute;
	top: 50%;
	left: -50%;
	width: 30vw;
	height: 50vh;
	z-index: 10;
	transition: 0.3s ease all;
}

.modal-reservation.active {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	margin-top: -250px; /* Negative half of height. */
	margin-left: -250px;
	background-color: bisque;

	width: 30vw;
	height: 50vh;
	border: 3px solid green;
	border-radius: 20%;
	transition: 0.2s ease all;
	animation: boxShadowLinear 4s ease infinite;
	padding: 2rem;
}
.modal-reservation-title {
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 2rem;
	font-family: 'Rufina', sans-serif;
	color: #333;
}

.modal-reservation-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal-reservation-fullName {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.modal-reservation-form__input {
	padding: 10px;
	border: none;
	outline: none;
}

.modal-reservation-modal-button {
	margin-top: 3rem;
	width: 47.33%;
	height: 50px;
	outline: none;
	border: none;
	border-radius: 20px;
	color: #151515;
	font-size: 1rem;
	font-family: 'Rufina', sans-serif;
	transition: 0.2s ease all;
}
.modal-reservation-modal-button:hover {
	transition: 0.2s ease all;
	color: var(--white);
	background-color: var(--mainGreen);
	cursor: pointer;
}

.reservation-inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex-direction: column;
}
.reservation-form-input {
	display: flex;
	justify-content: center;
	align-items: flex-start; /* Изначальное значение */
	transition: align-items 0.3s ease;
	flex-direction: column;
	gap: 5px;
}
.reservation-form-input:focus-within {
	transition: 0.3s ease all;
	align-items: center; /* Изменяем значение при фокусе внутри контейнера */
}
.reservation-form-input__input {
	width: 300px;
	height: 30px;
	border-radius: 25px;
	border: none;
	outline: none;
	padding: 10px;
	background-color: rgb(180, 207, 180);
	opacity: 0.5;
	color: var(--mainGreen);
	font-size: 1.2rem;
	filter: contrast(150%);
}

.reservation-form-input__label {
	font-size: 1rem;
	text-align: left;
	font-family: 'Rufina', sans-serif;
}
.reservation-form-input__input:focus {
	border: 1px solid var(--mainGreen);
}

.reservation-form-input__input:focus {
	border: 1px solid var(--mainGreen);
}

@keyframes boxShadowLinear {
	0% {
		box-shadow: 10px 10px 10px var(--white);
	}
	25% {
		box-shadow: 10px 13px 10px var(--white);
	}
	50% {
		box-shadow: 13px 16px 10px var(--white);
	}
	75% {
		box-shadow: 13px 13px 10px var(--white);
	}
	100% {
		box-shadow: 10px 10px 10px var(--white);
	}
}

.reservation-successfully.active {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	max-width: 230px;
	width: 100%;
	height: 50px;
	background: #37df91;
	position: fixed;
	border-radius: 25px;
	top: 5%;
	right: 38%;
	z-index: 10;
	transition: 0.3s ease all;
	border: 1px solid #2bb366;
}
.reservation-successfully {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	max-width: 230px;
	width: 100%;
	height: 50px;
	background: #37df91;
	position: fixed;
	border-radius: 25px;
	top: -20%;
	right: 38%;
	z-index: 10;
	transition: 0.3s ease all;
	border: 1px solid #2bb366;
}
.reservation-successfully__img {
	width: 30px;
	height: 30px;
}
.reservation-successfully__title {
	font-size: 1.2rem;
	color: var(--mainGreen);
}

.reservation-error.active {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	max-width: 280px;
	width: 100%;
	height: 50px;
	background: #f13030;
	position: fixed;
	border-radius: 25px;
	top: 5%;
	right: 38%;
	z-index: 10;
	transition: 0.3s ease all;
	border: 1px solid #972c2c;
}
.reservation-error__img {
	width: 30px;
	height: 30px;
}
.reservation-error__title {
	font-size: 1.2rem;
	color: #c4c4c4;
}
.reservation-error {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	max-width: 280px;
	width: 100%;
	height: 50px;
	background: #f13030;
	position: fixed;
	border-radius: 25px;
	top: -20%;
	right: 38%;
	z-index: 10;
	transition: 0.3s ease all;
	border: 1px solid #972c2c;
}
